@use "../stylesheets/globalVariables.scss" as var;

.formPageContent{
    .formPageModalHeader{
        display: flex;
        justify-content: space-between;
        button{
            all:unset;
            color: red;
            cursor: pointer;
            &:hover{
                opacity: 0.7;;
            }
        }
    }
    .formGroup{
        .perkInput{
            display: flex;
            input{
                border-radius: 5px 0 0 5px;
            }
            button{
                all:unset;
                background-color: var.$gold;
                color: var.$black;
                border-radius: 0 5px 5px 0;
                padding: 0 1rem;
            }
        }
        .addedPerksList{
            list-style: none;
            max-height: 10rem;
            overflow: auto;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor:grab;
                .sortPerkBtn{
                    all:unset;
                    color: var.$gold;
                }
                .deletePerkBtn{
                    all:unset;
                    color: red;
                    padding: 0.5rem;
                    small{
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}