@use "globalVariables.scss" as var;

.galleryBanner{
    justify-content: center;
    flex-direction: column;
    .galleryBannerContent{
        text-align: center;
    }
}

.imageGallerySection{
    background-color: var.$gold;
    text-align: center;
    .imageGallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        .imageContainer{
            width: 100%;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: 0 0 8px var.$black;
                transition: all 0.3s ease;
                &:hover{
                    box-shadow: 0 0 16px var.$black;
                }
            }
            
        }
        
    }
}

@media screen and (max-width: var.$responsive-width){
    .imageGallerySection{
        .imageGallery{
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            .imageContainer{
                width: 49%;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .imageGallerySection .imageGallery .imageContainer{
        width: 100%;
    }
}