$font-family: "poppins";
$gold: #ffc61a;
$goldShadow: rgba(255, 215, 0, 0.3);
$white: #fff;
$black: #000;
$gray: #e5e5e6;
$darkGray: #202020;
$shadow: rgba(0,0,0,0.5);
$box-shadow: inset 0 0 0 100vw $shadow;
$form-border-radius: 5px;
$form-padding: 3rem;
$form-gap: 1rem;
//Width for responsive site
$responsive-width: 1200px;
//Added navbar height & responsive navbar height
$nav-height: 100px;
$responsive-nav-height: 80px;
