@use "globalVariables.scss" as var;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
}

.callToActionBtn{
    background-color: var.$gold;
    border: none;
    border-radius: 5px;
    color: var.$black;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        color: var.$gold;
        background-color: var.$black;
    }
}
.container{
    padding: 5rem 15%;
}

.scrolling{
    background-color: var.$darkGray;
    height: var.$responsive-nav-height;
    box-shadow: 0 1px 10px var.$darkGray;
}

.banner{
    min-height: 100vh;
    background-image: url("../assets/background1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: var.$box-shadow;
    h1{
        color: var.$gold;
    }
    p{
        color: var.$white;
    }
}

//Editing scrollbar style

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var.$shadow;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var.$gold;
  border-radius: 100px;
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: var.$nav-height;
    align-items: center;
    font-weight: 400;
    background-color: transparent;
    transition: ease 0.3s all;
    .logo img{
        height: 40px;
    }

    .menuBtn{
        display: none;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style-type: none;
        li {
            a, .navProfileBtn{
                position: relative;
                color: var.$white;
                padding: 1.25rem;
                transition: all 0.3s ease;
                font-size: 1rem;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 0;
                    background-color: var.$gold;
                    border-radius: 100px;
                    transition: all 0.3s ease;
                }
                &:hover{
                    color: var.$gold;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
            }
            
        }
        
        .navProfileBtn{
            border: none; 
            background-color: transparent;
            cursor: pointer;
        }
        .navProfileMenu{
            display: none;
            &:hover{
                //keep link hover effects
            }
        }
        .navProfileBtnLink:hover .navProfileMenu{
            position: absolute;
            top: var.$responsive-nav-height;
            display: flex;
            flex-direction: column;
            background-color: var.$darkGray;
        }
    }
}//End Nav
//{profileDropdown ? "profileMenuLinksDropped" : "profileMenuLinks"}

.scrollingSocials{
    background-color: var.$black;
    border-radius:0  10px 10px 0;
}

.socials{
    position: fixed;
    top: 45%;
    left: 0;
    padding: 1rem;
    transition: all 0.3s ease;
    .socialsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        a{
            font-size: 2rem;
            color: var.$gold;
            transition: all 0.3s ease;
            &:hover{
                color: var.$white;
            }
        }
    }
}


.footer{
    background-color: var.$darkGray;
    color: var.$white;
    .footerContent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 1rem;
        h3{
            color: var.$gold;
        }
        .footerAbout {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            .footerSocials a{
                color: var.$gold;
                font-size: 1.5rem;
                padding-right: 1rem;
                transition: ease 0.3s all;
                &:hover{
                    color: var.$gray;
                }
            }
        }
        .footerContact{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            .footerContactInfo{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 1rem;
                a{
                    color: var.$white;
                    .contactInfoIcon{
                        color: var.$gold;
                    }
                }
            }
        }
    }
    .footerLogo{ 
        text-align: center;
        img{
            height: 40px;
        }
    }
}

//Responsive Styling
@media screen and (max-width: var.$responsive-width) {
    .container{
        padding: 10%;
    }
    nav{
        .collapsed{
            position: fixed;
            top: var.$responsive-nav-height;
            left: 0;
            width: 100%;
            background-color: var.$darkGray;
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;
            padding: 2rem;
        }
        .scrollingResponsiveNav{
            background-color: var.$black;
        }
        .navLinks{
            display: none;
            transition: all 0.3s ease;
        }
        .menuBtn{
            display: block;
            background-color: transparent;
            border: none;
            padding: 1rem;
            color: var.$white;
            font-size: 1.5rem;
        }
    }
    .footer{
        .footerContent{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}