@use "globalVariables.scss" as var;



nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    background-color: transparent; 
    height: var.$responsive-nav-height;
    .logo img{
        height: 40px;
        padding: 0 2rem;
    }

    .menuBtn{
        display: none;
    }

    ul{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        .leftNavLinks, .rightNavLinks{
            display: flex;
        }
        li {
            height: 100%;
            width: 100%;

            a, .navProfileBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                color: var.$white;
                height: 100%;
                font-size: 1rem;
                padding:1rem;
                cursor: pointer;
                opacity: 0.8;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    border-radius: 5px;
                    transition: ease 0.3s all;
                }
                &:hover{
                    opacity: 1;
                    &::after{
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: var.$gold;
                    }
                }
            }
            
        }

        .navProfileBtnLink{
            min-width: 15rem;
            .navProfileBtn{
                border: none; 
                background-color: transparent;
                cursor: pointer;
                min-width: inherit;
            }
            &:hover .navProfileMenu{
                min-width: inherit;
                position: fixed;
                display: flex;
                flex-direction: column;
                flex: 1;
                flex-wrap: nowrap;            
                background-color: var.$darkGray;
            }
            .navProfileMenu{
                display: none;                                  
                border-radius: 0 0 0.25rem 0.25rem;
                .navProfileMenuLink{ 
                    padding: 1rem 2rem; 
                    color: var.$white;
                }
            }
        }

    }
}//End Nav

@media screen and (max-width: var.$responsive-width) {
    nav{
        .navLinks{
            display: none;
        }
        .collapsed{
            position: fixed;
            top: var.$responsive-nav-height;
            left: 0;
            width: 100%;
            height: auto;
            background-color: var.$darkGray;
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;
            .leftNavLinks, .rightNavLinks{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
        .navProfileBtnLink{
            .navProfileBtn{
                width: 100%;
            }
            &:hover .navProfileMenu{
                display: none !important;
            }
        }
        .scrollingResponsiveNav{
            background-color: var.$black;
        }
        .menuBtn{
            display: block;
            background-color: transparent;
            border: none;
            padding: 1rem;
            color: var.$white;
            font-size: 1.5rem;
            transition: all 0.3s ease;
            &:hover{
                color: var.$gold;
            }
        }
    }
}