@use "./globalVariables.scss" as var;
.profile nav{
    background-color: var.$darkGray !important;
    box-shadow: 0 1px 10px var.$darkGray;
}
.profile{
    margin-top: 4rem;
    color: var.$white;
    background-color: var.$gray;
        .profileInformation{
            display: grid;
            grid-template-columns: 1fr 4fr;
            min-height: 100vh;
            color: var.$darkGray;
            background-color: var.$gray;
            .profileNav{
                background-color: var.$darkGray;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;  
                padding-top: 2rem;
                box-shadow: 1px 0px 10px var.$darkGray;
                .profileUser{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    h3{
                        color: var.$white;
                    }
                }
            }   
            .profileNavLinks{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 1rem;
                gap: 1rem;
                background-color: var.$darkGray;
                .profileNavLink{
                    padding: 1rem;
                    color: var.$white;
                    transition: ease 0.3s all;
                    &:hover{
                        color: var.$gold;
                        transition: ease 0.3s all;
                    }
                }
            }
            .profileOutlet{
                padding: 1rem 2rem;
            }
        }
    }
