@use "./globalVariables.scss" as var;

.profile{
    color: var.$white;
    background-color: var.$gray;
    .profileContent{
        .profileHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var.$form-padding;
            background-color: var.$darkGray;
            padding-top: 10rem;
            .profileNavUserInfo{
                display: flex;
                align-items: center;
                gap: 1rem;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 1000px;
                    border: 2px solid var.$gold;
                }
            }
            .profileLogout{
                padding: 1rem;
                cursor: pointer;
                transition: ease 0.3s all;
                &:hover{
                    color: var.$gold;
                    transition: ease 0.3s all;
                }
            }
        }
        .profileInformation{
            display: grid;
            grid-template-columns: 1fr 3fr;
            min-height: 100vh;
            color: var.$darkGray;
            background-color: var.$gold;
            .profileNav{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                padding: 1rem;
                background-color: var.$darkGray;
                .profileNavLinks{
                    color: var.$white;
                    margin: 1rem auto;
                    transition: ease 0.3s all;
                    &:hover{
                        color: var.$gold;
                        transition: ease 0.3s all;
                    }
                }
            }
            .profileOutlet{
                padding: 1rem 2rem;
            }
        }
    }
} 