@use "./globalVariables.scss" as var;

.profileContent{
    color: var.$white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    .profileNav, .profileInformation{
        display: flex;
        background-color: var.$darkGray;
        padding: var.$form-padding;
        border-radius: var.$form-border-radius;
        text-align: center;
       
    }
    .profileNav{
        flex-direction: column;
        img{
            width: 250px;
            height: 250px;
            border-radius: 1000px;
            bordeR: 2px solid var.$gold;
        }
        ul{
            list-style-type: none;
            padding: 2rem;
            li{
                margin: 1rem;
                .profileNavLinks{
                    color: var.$white;
                    padding: 0.5rem;
                    cursor: pointer;
                    &:hover{
                    color: var.$gold;
                    }
               }
            }
        }
    }
    .profileInformation{
       .edit-profile{
        height: 100%;
       }
    }   
}
